body {
    background-color: lightgray;
    overflow: hidden;
}

.page {
    display: flex;
    background: lightgray;
    width: 100vw;
    height: 100vh;
}

.square1_bw {
    display: flex;
    background: white;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}

.square2_bw {
    display: flex;
    border: .25px;
    border-style: solid;
    border-color: lightgray;
    background: white;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.square3_bw {
    display: flex;
    background: black;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
}